################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/05.Meeting
/04.SourceCode/CalculatorForWin10
